html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* App wrapper */
.app-container {
  min-height: 100vh;           /* fill entire viewport */
  display: flex;
  flex-direction: column;
}

/* Main content expands to fill space */
.main-content {
  flex: 1;               /* expands to fill vertical space */
  padding: 1rem;
  box-sizing: border-box;
  display: flex;         /* optional, helps with centering */
  flex-direction: column;
  justify-content: center; /* centers vertically if you want */
  align-items: center;
  
}

/* Footer styling */


.navbar-footer {
  padding: 1rem;
  }
  nav {
    text-align: center;
    padding: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    background-color: linear-gradient(to bottom right, #4c1d95, #3730a3, #2563eb);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
  
  .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  }

