.connections-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 16px;
}

.connection-tile {
  background: #8f036c;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #ccc;
}

.shuffle {
padding: 0.9rem 5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(135deg, #6366f1, #3b82f6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s, opacity 0.3s;
}

.submit {
    padding: 0.9rem 5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(135deg, #6366f1, #3b82f6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s, opacity 0.3s;
}

.game-btn {
    position: center;
    margin-top: 20px;
    gap : 12px;
}

.mostbottomdiv {
  max-height: 600px;
  padding: 20px;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 10px;
}

.multiple-btns{
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.map-div{
  padding: 20px 16px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color:white;
  transition: all;
}

.word-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.solved-div{
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 12px;
  text-align: center;

}